[submodule "Algorithms/MetaCloak"]
	path = Algorithms/MetaCloak
	url = git@github.com:vkeilo/MetaCloak.git
[submodule "Algorithms/Anti-DreamBooth"]
	path = Algorithms/Anti-DreamBooth
	url = git@github.com:vkeilo/Anti-DreamBooth.git
[submodule "Algorithms/SimAC"]
	path = Algorithms/SimAC
	url = git@github.com:vkeilo/SimAC.git
[submodule "Algorithms/mist"]
	path = Algorithms/mist
	url = git@github.com:vkeilo/mist.git
[submodule "Algorithms/Glaze"]
	path = Algorithms/Glaze
	url = git@github.com:vkeilo/Glaze.git
[submodule "Algorithms/Diff-Protect"]
	path = Algorithms/Diff-Protect
	url = git@github.com:vkeilo/Diff-Protect.git
[submodule "Algorithms/VCPro"]
	path = Algorithms/VCPro
	url = git@github.com:vkeilo/VCPro.git
[submodule "Algorithms/IDProtector"]
	path = Algorithms/IDProtector
	url = git@github.com:vkeilo/IDProtector.git
[submodule "Algorithms/Pretender"]
	path = Algorithms/Pretender
	url = git@github.com:vkeilo/Pretender.git
[submodule "Algorithms/DiffPUEGenerator"]
	path = Algorithms/DiffPUEGenerator
	url = git@github.com:vkeilo/DiffPUEGenerator.git